@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    font-family: "Kanit", sans-serif;
    background-color: darkslategrey;
}

p {
    font-size: larger;
}

h1, h2 {
    font-style: italic;
    font-weight: lighter;
}

.text {
    color: white;
    border: 5px solid white;
    margin: 20px;
    padding: 20px;
}

#header1, #footer1 {
    text-align: center;
}

#footer1 {
    border: 10px dotted black;
}